header{
    width: 100%;
    padding: 4.2rem 2rem 1rem;
    background: linear-gradient(to right, #15753b 0%, #81bd3f);
    display: flex;
    align-items: center;
    justify-content: space-between;
    ion-icon{
        color: #fff;
        font-size: 3rem;
        margin-left: 2rem;
    }
}