<ion-content>
  <div class="log_wrapper">
    <div class="main_area">
      <div class="back_wrapper" [routerLink]="['/']">
        <div class="back">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        Back
      </div>
      <div class="heading">
        <h2>Login</h2>
        <p>Enter your emails & password</p>
      </div>
      <div class="form_area">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text"></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pasword</ion-label>
          <ion-input type="password"></ion-input>
          <ion-icon name="eye-outline"></ion-icon>
        </ion-item>
        <div class="forgot" [routerLink]="['/forgot-password']">Forgot Password</div>
        <ion-button color="custom" [routerLink]="['/home']">
          <ion-icon name="log-in-outline" slot="end"></ion-icon>
          Login
        </ion-button>
      </div>
      <p><strong>Don't have account? <span [routerLink]="['/signup']">Signup</span></strong> </p>
    </div>
  </div>
</ion-content>