.welcome_wrapper{
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/welcome_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

    &::before{
        width: 100%;
        height: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgba(246, 245, 250, 0.3);
        content: "";
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(24px);
    }

    .main_area{
        width: 100%;
        height: 45rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;

        h1{
            font-size: 4rem;
            font-weight: 700;
            margin-top: 3rem;
            line-height: 4rem;
            span{
                font-weight: 500;
                font-size: 3rem;
            }
        }
        p{
            font-size: 1.4rem;
        }
        .ion-color-custom{
            margin-top: 5rem;
            width: calc(100% - 12rem);
            height: 6rem;
            background: linear-gradient(to right, #15753b 0%, #81bd3f);
            --box-shadow: none;
            border-radius: 5rem;
            font-size: 1.5rem;
            text-transform: capitalize;
        }

    }

    ion-img{
        width: 21rem;
        height: 11.9rem;
    }

}