<ion-content>
  <div class="log_wrapper">
    <div class="main_area">
      <div class="back_wrapper" [routerLink]="['/login']">
        <div class="back">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        Back
      </div>
      <div class="heading">
        <h2>Signup</h2>
        <p>Enter your credentials to continue</p>
      </div>
      <div class="form_area">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text"></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pasword</ion-label>
          <ion-input type="password"></ion-input>
          <ion-icon name="eye-outline"></ion-icon>
        </ion-item>

        <div class="terms">
          <div>
            <ion-checkbox class="checkbox" shape="round" id="check"></ion-checkbox>
          </div>
          <ion-label htmlFor="check">By continuing you agree to our <span>Terms of Service</span> and <span>Privacy
              Policy</span> </ion-label>
        </div>

        <ion-button color="custom" [routerLink]="['/login']">
          <ion-icon name="log-in-outline" slot="end"></ion-icon>
          Signup
        </ion-button>
      </div>
      <p><strong>Alredy have an account? <span [routerLink]="['/login']">Login</span></strong> </p>
    </div>
  </div>
</ion-content>