/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@font-face{
    font-family: 'Streamster'; src: url(./assets/fonts/Streamster.ttf), url(./assets/fonts/Streamster.otf);
}
$globalColor: #f6f5fa;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem; color: #929292; line-height: 2.3rem; background-color: $globalColor; font-weight: 300;
}
.stylish_heading{
    font-family: 'Streamster'; 
}
.back_wrapper{
    display: flex;
    align-items: center;

    .back{    
        background: linear-gradient(to right, #15753b 0%, #81bd3f);
        border-radius: 100%;
        color: #fff;
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        ion-icon{
            width: 2.5rem;
            height: 2.5rem;
        }
    
    }

}

.sc-ion-searchbar-ios-h{
    box-shadow: none;
    padding: 0 !important;
    background-color: #fff;
    border-radius: 8px;
    height: 4rem;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;

}
.sc-ion-searchbar-md-h{
    --box-shadow: none;
    padding: 0 !important;
    background-color: #fff;
    --border-radius: 8px;
    height: 4rem;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;

}
